$dark-grey: #242424;
$lighten: #403c38;
$paper: #d1c5b8;
$darken: #b3a79b;
$middle: #998f85;
$ink: #151515;

$theme-red: #cc3853;
$theme-red-lighter: #d66176;
$theme-red-darker: #a63c4f;
$theme-orange: #ffa047;
$theme-orange-lighter: #ffba7a;
$theme-orange-darker: #ff932e;
$theme-blue: #4597ba;
$theme-blue-lighter: #6aacc8;
$theme-blue-darker: #377995;